/* Add your CSS to this file */

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header div.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;
}

header div.container nav ul>li {
    display: inline;
    margin-right: .7em;
}

section.overview-hero div.container {
    display: grid;
    padding: 2em 4em 2em 4em;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5em;
}

section.overview-hero div.container div.overview-hero-image img {
    width: 15em;
}

section.learn-about div.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}

section.learn-about div.cards>div.card img {
    width: 15em;
}

section.learn-about div.cards div.card:nth-child(2) img {
    margin-bottom: 3em;
}

section.learn-about div.cards div.card:first-child img {
    margin: 4em 0 3em 0;
}